/* You can add global styles to this file, and also import other style files */
@import "https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$measures: 1,2,3,4,5,6,7,8,9,10,11,12;
@each $measure in $measures {
    $directions: (t:top, b:bottom, l:left, r:right);
    @each $directionShort, $direction in $directions {
        .m#{$directionShort}-#{$measure} {
            margin-#{$direction}: $measure * 0.5 + rem!important;
        }
        .p#{$directionShort}-#{$measure} {
            padding-#{$direction}: $measure * 0.5 + rem!important;
        }
    }

    .mx-#{$measure} {
        margin-left: $measure * 0.5 + rem!important;
        margin-right: $measure * 0.5 + rem!important;
    }

    .px-#{$measure} {
        padding-left: $measure * 0.5 + rem!important;
        padding-right: $measure * 0.5 + rem!important;
    }

    .my-#{$measure} {
        margin-top: $measure * 0.5 + rem!important;
        margin-bottom: $measure * 0.5 + rem!important;
    }

    .py-#{$measure} {
        padding-top: $measure * 0.5 + rem!important;
        padding-bottom: $measure * 0.5 + rem!important;
    }

}
